/* @media (max-width: 80rem) {
  .review-card {
    gap: 4.8rem;
  }
} */

@media (max-width: 78rem) {
  /* html {
    font-size: 56.25%;
  } */

  .search-input {
    display: none;
  }
  .search-input-tablet {
    font-size: 1.6rem;
    color: #333;
    margin-left: 0.8rem;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    max-width: 16rem;
    min-width: 0;
    display: block;
  }
}

@media (max-width: 75rem) {
  .product-card-image-container {
    height: 30rem;
  }
  /* 
  .category-card {
    height: 35rem;
  } */

  .category {
    gap: 1.4rem;
  }

  .gallery-images {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "f e a"
      "f d d"
      "b b c";
  }
  .ceramicplate-img img {
    object-position: left;
  }
  #gallery-woodykitchen-img {
    object-position: 40% 50%;
  }
  #gallery-teapot-img {
    object-position: 20% 50%;
  }
  #gallery-teapot-img {
    object-position: 20% 50%;
  }
}

@media (max-width: 71rem) {
  .navbar-right button {
    display: block;
  }

  .navbar-left {
    display: none;
  }

  .navbar {
    padding-top: 2.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    display: flex;
    justify-content: space-between;
  }

  .review-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 68rem) {
  .hero-content-text p {
    max-width: 52rem;
  }

  .product-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-badge {
    align-self: center;
    margin-bottom: 0;
  }

  .hero-content-text p {
    max-width: 52.5rem;
  }

  .kitchenware-break {
    display: block;
  }
  .for-break-before {
    display: none;
  }
  .for-break {
    display: block;
  }
}

@media (max-width: 64rem) {
  .explore-break {
    display: block;
  }
}

@media (max-width: 61rem) {
  .hero-badge {
    display: none;
  }

  .hero-content-text {
    text-align: center;
    align-items: center;
  }

  .kitchenware-break {
    display: none;
  }

  .for-break-before {
    display: block;
  }
  .for-break {
    display: none;
  }

  .search {
    max-width: 14rem;
  }
  .category {
    gap: 1rem;
  }
  /* .category-card {
    height: 30rem;
  } */
  .special-bestsellers-image,
  .special-new_arrivals-image {
    aspect-ratio: auto;
  }

  .special-bestsellers {
    margin-bottom: 2.4rem;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0.8rem;
  }

  .footer-links-images {
    flex-direction: row;
    grid-column: 1/4;
    justify-content: flex-start;
    gap: 3.2rem;
  }

  .footer-links-logo {
    align-self: center;
  }

  .footer-links-trust-boxes div {
    width: 4.5rem;
    height: 4.5rem;
  }

  .star-icon {
    font-size: 2.4rem;
  }
  .footer-links-trust {
    gap: 0.4rem;
  }

  .footer-links-trust p {
    font-size: 2rem;
  }
  .footer-links-trust figcaption {
    font-size: 1.4rem;
  }
}

@media (max-width: 55rem) {
  .product-cards {
    grid-template-columns: 1fr 1fr;
  }
  .review-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 47rem) {
  html {
    font-size: 56.25%;
  }

  .hero-content-text {
    gap: 3.2rem;
  }

  .special-bestsellers-content,
  .special-new_arrivals-content {
    gap: 1.6rem;
  }

  .special-bestsellers,
  .special-new_arrivals {
    gap: 2.4rem;
  }
  #gallery-teapot-img {
    object-position: 25% 50%;
  }
}

@media (max-width: 39rem) {
  .email-input {
    max-width: 13rem;
  }
  .footer-newsletter {
    gap: 3.2rem;
  }

  .navbar-right-circularbutton {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  .navbar-right {
    gap: 0.4rem;
  }
  .navbar {
    padding: 1.6rem 2.4rem 0 2.4rem;
  }
  .hero-content-text p {
    max-width: 85%;
  }
  .for-break-before {
    display: none;
  }
  .special-bestsellers,
  .special-new_arrivals {
    grid-template-columns: 1fr;
  }

  .special-bestsellers-image,
  .special-new_arrivals-image {
    aspect-ratio: 16/10;
    width: 90%;
    justify-self: center;
  }

  .special-bestsellers-content-wide,
  .special-new_arrivals-content-wide {
    display: none;
  }
  .special-bestsellers-content-mobile,
  .special-new_arrivals-content-mobile {
    display: block;
    order: 1;
  }
  .special-bestsellers-image,
  .special-new_arrivals-image {
    order: 2;
  }
  .special-bestsellers-content,
  .special-new_arrivals-content {
    order: 3;
  }
  .category {
    grid-template-columns: 1fr 1fr;
  }
  .category-card {
    aspect-ratio: 1/1;
  }
  #category-card-wooden-spoons-img {
    object-position: 50% 30%;
  }
  .explore-break {
    display: none;
  }
  .gallery-images {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "d d"
      "b a"
      "f c"
      "f e";
  }
}

@media (max-width: 34rem) {
  .footer-newsletter {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
  .footer-links {
    grid-template-columns: 1fr 1fr;
  }
  .footer-links-images {
    grid-column: 1/3;
    gap: 2.4rem;
  }
  .footer-links-logo img {
    width: 18rem;
  }

  .footer-links-trust-boxes div {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 7px;
  }

  .star-icon {
    font-size: 2rem;
  }

  .footer-links-trust p {
    font-size: 1.6rem;
  }
  .footer-links-trust figcaption {
    font-size: 1rem;
  }
  .special-bestsellers-image,
  .special-new_arrivals-image {
    border-radius: 10px;
    height: auto;
    aspect-ratio: 16/10;
  }
}

@media (max-width: 30rem) {
  .search {
    display: none;
  }

  #search-hero {
    display: flex;
    flex: 2;
    max-width: none;
  }
  .hero-buttons {
    width: 90%;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
  }
  .category {
    grid-template-columns: 1fr 1fr;
  }
  .category-card {
    aspect-ratio: 1/1;
  }
  .category-card button {
    display: none;
  }
  .explore-break {
    display: block;
  }
}

@media (max-width: 27rem) {
  html {
    font-size: 50%;
  }
  .footer-links-images {
    gap: 1.6rem;
  }
  .footer-links-logo img {
    width: 14rem;
  }
  /* .footer-links-logo {
    align-self: flex-start;
  } */
  .footer-links-trust-boxes div {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 5px;
  }

  .star-icon {
    font-size: 1.6rem;
  }
  .footer-links-trust {
    gap: 0.4rem;
  }
}
