@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,50;1,9..144,100..900,50&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  font-weight: 400;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}

.navbar {
  /* height: auto; */
  /* height is auto as default, no need to put it in */
  font-size: 1.6rem;
  /* max-width: 1600px; 
  fix max-width later
  */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 3.2rem;
  /*
  display:flex;
  justify-content: space-between;
  align-items: center; 
  fix complicated flex structure using grid
  */
  margin: 0 auto;
  padding: 0.8rem 3.2rem 0rem 3.2rem;
}

.navbar-left {
  display: flex;
  list-style-type: none;
  gap: 0.8rem;
  /* flex: 1; */
}

.navbar-left a {
  /* font-size: 1rem; */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1.6rem;
  border-radius: 10px;
  transition: all ease-in 0.1s;
}

.navbar-left a:hover {
  background-color: rgba(21, 34, 25, 0.3);
}

.navbar-center {
  /* flex-shrink: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  align-self: center;
  justify-self: center;
}

.navbar-center .logo {
  /* width: auto; */
  max-height: 4rem;
}

.navbar-right {
  display: flex;
  gap: 1.6rem;
  justify-content: flex-end;
  align-items: center;
  /* min-width: 0; */
  /* flex: 1; */
}

.navbar-right a {
  text-decoration: none;
  color: #fff;
}

.navbar-right-circularbutton {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: rgba(21, 34, 25, 0.3);
}

.search {
  width: max-content;
  display: flex;
  padding: 0.8rem;
  border-radius: 16px;
  background-color: #f6f6f6;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 0 2px rgb(47, 76, 57, 0.3);
}

.search-input {
  font-size: 1.6rem;
  color: #333;
  margin-left: 0.8rem;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  max-width: 20rem;
  min-width: 0;
  /* Understand later what min-width:0 does here */
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* learn dvh and vh */
  font-size: 1.6rem;
  /* background-color: black; */
  background-image:
    linear-gradient(to right, rgb(18, 29, 21), transparent),
    url(../resources/eco-friendly-sustainable-kitchens.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  margin-bottom: 3.2rem;
}
/* hero-content rules for height not clear */
.hero-content {
  position: relative;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-content-text {
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 30%;
  min-width: 40rem;
}

.hero-content-text em {
  font-family: Fraunces, serif;
  font-weight: 5400;
}

.hero-content-text h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: white;
}

.hero-content-text p {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 3.2rem;
}

.hero-content-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;
  border-radius: 20px;
  gap: 0.8rem;
  background-color: white;
  color: #2f4c39;
  border: none;
  font-size: 1.6rem;
  transition: all ease-in 0.1s;
}

.hero-content-text button:hover {
  background-color: #2f4c39;
  color: white;
  cursor: pointer;
}

.hero-badge {
  position: absolute;
  right: 10%;
  bottom: 17%;
  padding: 1.6rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
}

.hero-badge-row {
  display: flex;
  margin-bottom: 2.4rem;
  justify-content: center;
  color: white;
}

.hero-badge-number {
  color: white;
  font-size: 4.8rem;
}

.products h2 {
  font-size: 2.4rem;
}

.products-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.products-heading em {
  font-family: Fraunces, serif;
  font-weight: 500;
}
.products {
  width: 100%;
  font-size: 1.6rem;
  margin: 0 auto 3.2rem auto;
  padding: 0 3.2rem;
}

.product-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.6rem;
  gap: 2.4rem;
}

.products-heading a {
  text-decoration: none;
  color: black;
}

.products-heading-link {
  display: flex;
  gap: 0.8rem;
}

.product-card {
  /* width: 100%; */
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card-image-container {
  position: relative;
  border-radius: 30px 30px 0 0;
  /* width: 100%; */
  height: 40rem;
  overflow: hidden;
  background-image: linear-gradient(to bottom, grey, lightgrey);
  margin-bottom: 1.6rem;
}

.product-card-badge {
  position: absolute;
  top: 4%;
  left: 4%;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 0.4rem 1.6rem;
  z-index: 2;
  font-family: Fraunces, serif;
  font-style: italic;
  font-weight: 300;
}

.product-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(0.8);
  z-index: 1;
}

.product-card-content p {
  margin-bottom: 0.8rem;
  height: 4.8rem;
  padding: 0 1.6rem;
}

.product-card-content .product-price {
  margin: 0;
  height: auto;
  padding: 0;
}

.product-card-content-action {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 0 1.6rem;
  margin: 0 0 1.6rem 0;
}

.product-card-content-action button {
  background-color: #257541;
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 20px;
  font-size: 1.6rem;
}

.product-card-content-action button:hover {
  background-color: #2f4c39;
  cursor: pointer;
}

.products-latter img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 3.2rem;
}

.category {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
  font-size: 1.6rem;
  padding: 0 3.2rem;
}

.category-card {
  position: relative;
  height: 40rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 1);
  background-blend-mode: multiply;
  overflow: hidden;
  margin-bottom: 3.2rem;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  z-index: 1;
  transition: 0.4s ease;
}

.category-card:hover img {
  transform: scale(1.2);
}

.category-card:hover h3,
.category-card:hover button {
  transform: scale(1.06);
}

.category-card h3,
.category-card button {
  transition: 0.4s ease;
}

.category-card-content {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  color: white;
}

.category-card-content button {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  border: none;
}

.category-card-content button:hover {
  background-color: #257541;
  cursor: pointer;
  color: white;
}

.category-card-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* background-color: black; */
  border-radius: 15px;
  /* opacity: 0.7; */
  background-image: linear-gradient(to top, rgb(12, 19, 13), transparent);
  background-blend-mode: multiply;
}

.special {
  margin: 0 auto 3.2rem auto;
  padding: 0 3.2rem;
  width: 100%;
}

.special h2 {
  font-size: 3.2rem;
}

.special p {
  font-size: 1.6rem;
}

.special-bestsellers,
.special-new_arrivals {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.2rem;
}

.special-bestsellers-content {
  font-size: 1.6rem;
  width: 80%;
  /* margin-left: 3.2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.special-new_arrivals-content {
  font-size: 1.6rem;
  width: 80%;
  /* margin-right: 3.2rem; */
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.special-bestsellers-image {
  border-radius: 10px;
  /* margin-right: 3.2rem; */
  height: 70vh;
}

.special-new_arrivals-image {
  border-radius: 10px;
  /* margin-left: 3.2rem; */
  height: 70vh;
}

.special-bestsellers-image img,
.special-new_arrivals-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.special-new_arrivals-image {
  order: -1;
}

.special-bestsellers-content button,
.special-new_arrivals-content button {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 20px;
  border: none;
  background-color: #257541;
  cursor: pointer;
  color: white;
  align-self: flex-start;
  transition: 0.2s ease;
}

.special-bestsellers-content button:hover,
.special-new_arrivals-content button:hover {
  background-color: #2d8d4f;
}

.reviews {
  display: grid;
  grid-template-rows: 1fr auto;
  font-size: 1.6rem;
  width: calc(100% - 6.4rem);
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
  background-image: linear-gradient(
    to right,
    rgb(219, 219, 219),
    rgb(241, 241, 241)
  );
  border-radius: 10px;
  box-shadow: inset 5px 10px 20px rgba(0, 0, 0, 0.2);
  height: calc(100% - 28rem - 40px);
}

.reviews-heading h2 {
  font-size: 3.2rem;
  font-family: Fraunces, serif;
  font-style: italic;
}

.reviews-heading p {
  width: 20%;
}

.reviews-heading {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  padding-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.review-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
  height: 28rem;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;

  padding: 3.2rem 1.6rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom,
    rgb(190, 190, 190),
    rgb(226, 226, 226)
  );
  background-blend-mode: multiply;
  transition: 0.2s ease;
}

.review-card:hover {
  transform: translate(0, -8px);
  background-image: none;
}

.review-card blockquote {
  font-weight: 600;
}

.review-card-quotes {
  font-size: 4.8rem;
  display: block;
  line-height: 1;
  margin-bottom: -1.6rem;
}

.review-cards-name {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.footer {
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 100%;
}
/* newsletter layout code is probably not that great, should fix it later */
.footer-newsletter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 3.2rem;
  padding: 0 3.2rem;
  align-items: center;
  background-color: grey;
  margin-bottom: 3.2rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.footer-newsletter-heading {
  grid-column: 1/2;
  justify-self: center;
  /* fix this later */
  padding-left: 4.8rem;
}

.footer-newsletter form {
  grid-column: 2/5;
}
.footer-newsletter-heading p {
  width: 75%;
}
/* 
.footer-newsletter-email {
  align-self: center;
} */

.footer h3 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
}
.footer h4 {
  font-size: 1.6rem;
}
.footer-links {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

/* .search {
  width: max-content;
  display: flex;
  padding: 0.8rem;
  border-radius: 16px;
  background-color: #f6f6f6;
  transition: box-shadow 0.25s;
} */

.footer-newsletter-email {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 16px;
  background-color: #f6f6f6;
  transition: box-shadow 0.25s;
}

/* .search:focus-within {
  box-shadow: 0 0 0 2px rgb(47, 76, 57, 0.3);
} */

.footer-newsletter-email:focus-within {
  box-shadow: 0 0 0 2px rgb(47, 76, 57, 0.3);
}

/* .search-input {
  font-size: 1.6rem;
  color: #333;
  margin-left: 0.8rem;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  max-width: 20rem;
  min-width: 0;
   Understand later what min-width:0 does here 
} */

.email-input {
  font-size: 1.6rem;
  color: #333;
  margin-left: 0.8rem;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  max-width: 20rem;
  min-width: 0;
}

/* .search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
} */

.email-input::placeholder,
.email-icon {
  color: rgba(0, 0, 0, 0.5);
}
.footer-links-trust {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-links-trust p {
  font-size: 2.4rem;
  font-weight: 600;
}
.footer-links-trust-boxes {
  display: flex;
  gap: 0.8rem;
}

.footer-links-trust-boxes div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #257541;
  border-radius: 10px;
}

.star-icon {
  font-size: 3.2rem;
  color: white;
}

.footer-links-company ul,
.footer-links-shipping_services ul,
.footer-links-customers ul {
  list-style-type: none;
}
.footer-links-company li,
.footer-links-shipping_services li,
.footer-links-customers li {
  margin-bottom: 0.4rem;
}

.footer-links-company h4,
.footer-links-shipping_services h4,
.footer-links-customers h4 {
  margin-bottom: 0.8rem;
}
.footer-links-company a,
.footer-links-shipping_services a,
.footer-links-customers a {
  text-decoration: none;
  color: lightgrey;
}

.footer-links-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  width: fit-content;
}

.footer-links-logo img {
  width: 23rem;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.6rem;
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}
